p {
	font-size: 1vw;
}
a {
	font-size: 1vw;
}
h1 {
	font-size: 2vw;
}
h3 {
	font-size: 1.2vw;
}
.catalogcover {
	width: 20vw;
	height: 20vw;
	margin: 1vw;
}
.catalogbox {
	display: flex;
	margin: 0 0 3vw 1vw;
	width: 97vw;
	background: lightgrey;
}
.catalogtitle {
	margin-bottom: 0vw;
}
.catalogartist {
	font-size: 1.5vw;
	margin-bottom: 2vw;
}
.linkimage {
	height: 1vw;
	margin: 0.25vw;
}
.imagelink {
	display: flex;
}
