img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
html {
  font-family: "Griffy", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
	margin: 0px;
}
#bgimage {
	width: 100%;
}
h1 {
	font-size: 3vw;
}
h2 {
	font-size:2vw;
}
#topbar > div {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:auto;
}
.topimg {
	width:12vw;
}
.retarddiv:hover {
	cursor:pointer;
}
.retarddiv:hover > .topimg {
	animation-name: fuck;
	animation-duration: 1s;
	filter: brightness(50%);
	animation-iteration-count: infinite;
}
#topbar {
	position:absolute;
	top:15vmax;
	display:flex;
	width:100vw;
}
.retarddiv {
	width:12vw;
	height:12vw;
}
@keyframes dothat {
	0%	{transform:scale(0,1);}
	25%	{transform:scale(1,1);}
	50%	{transform:scale(0,1);}
	75%	{transform:scale(-1,1);}
	100%	{transform:scale(0,1);}
}
#mainsec {
	position:absolute;
	top:30vmax;
	display: flex;
}
#mainsec> div {
	margin:2vw;
}
.sideimg {
	width:8vw;
}
.retarddiv2:hover {
	cursor:pointer;
}
.retarddiv2:hover > img{
	animation-name: dothat;
	animation-duration:1s;
	animation-iteration-count:infinite;
	filter: brightness(50%);
	animation-timing-function: linear(0,0.02,0.08,0.18,0.32,0.5,0.68,0.82,0.92,0.98,1);
}
@keyframes fuck {
	0%	{transform:scale(-1,0.8);transform:rotate(180deg);}
	50%	{transform:scale(0.8,-1);}
	100%	{transform:scale(-1,0.8);transform:rotate(-180deg);}
}
