#mydiv, #mypiv {
	position:absolute;
	z-index:1000;
	top:-3vw;
	left:2;
}
img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
#galleryslide {
	position:absolute;
	top:15vw;
	left:5vw;
}
.w3-button {
	position:absolute;
	top:38%;
	border:none;
	font-size:2vw;
	padding:1vw;
	cursor:pointer;
	background:rgba(255,0,0,0.5);
	margin:1vw;
}
.w3-button:hover {
	background:rgba(0,255,255,0.5);
}
.mySlides {
	display:flex;
	flex-direction:column;
	align-items:center;
	width:40vw;
	background:rgba(0,0,0,0.5);
	border-style:ridge;
	border-color:black;
	border-width:0.5vw;
	padding:1vw 2vw 1vw 2vw;
}
.mySlides > img {
	height:30vw;
}
#raritea {
	pointer-events:none;
	position:absolute;
	top:20vw;
	left:40vw;
}
#shit {
	position:absolute;
	top:0vw;
	width:100%;
	text-align:center;
	color:white;
}
#shit > h1 {
	filter: drop-shadow(0.25vw 0.25vw 0.5vw #000000);
	font-size:3.5vw;
}
#trix, #star {
	position:relative;
	width:6.5vw;
}
#trix:hover, #star:hover {
	cursor:all-scroll;
}
#raritytalk {
	position:absolute;
	left:0;
	bottom:-9.2vw;
	width:19.2vw;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items:center;
	text-align:center;
	z-index:998;
}
.raaa {
	font-size:1.5vw;
	margin-top:-2vw;
	max-width:16.2vw;
	color:purple;
	z-index:999;
	min-height:5vw;
}
#raah {
	position:absolute;
	bottom:4.1vw;
	line-height:0;
	height:calc(100% - 8.8vw);
}
#rar {
	position:absolute;
	top:0;left:0;
	width:30vw;
}
.dbmid {
	position:relative;
	top:-0.1vw;
	display:inline-flex;
	margin-bottom:-1.2vw;
	align-items: flex-start;
	height:3.7vw;
	overflow:visible;
}
.dbicon {
	align-self: center;
	margin-left:0.5vw;
	width:2.5vw;
}
.dbmid:hover > img {
	filter:hue-rotate(180deg) brightness(80%);
}
#cover {
	position:absolute;
	right:1vw;
	top:45vw;
}
.tooltip2:hover {
	cursor:help;
}
.dbsec:hover {
	cursor:pointer;
}
#infodbwrapper {
	position:absolute;
}
#infodbwrapper > #s{
	position:absolute;
	top:5%;
	display:none;
	left:0.69vw;
	max-width:12.54vw;
	min-height:90%;
}
#infodbwrapper:hover > #s {
	display:block;
	animation-name: dothat;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function: linear(0,0.02,0.08,0.18,0.32,0.5,0.68,0.82,0.92,0.98,1);
}
#infodb {
	position:relative;
	display:flex;
	flex-direction:column;
	padding: 2vw 2vw 3.2vw 2vw;
	border-width: 0.5vw;
	border-style:ridge;
	background: rgba(0, 0, 0, 0.5);
}
.dbsec {
	width:9vw;
}
html {
  font-family: "Griffy", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rarityfont {
	font-family: "Rubik Spray Paint", system-ui;
	font-weight: 400;
	font-style: normal;
}
body {
	margin: 0px;
}
#bgimage {
	width: 100%;
}
h1 {
	font-size: 3vw;
}
h2 {
	font-size:2vw;
}
#topbar > div {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:auto;
	margin-top:2vw;
	z-index:1;
}
.topimg {
	width:12vw;
}
.retarddiv:hover {
	cursor:pointer;
}
.retarddiv:hover > .topimg {
	animation-name: fuck;
	animation-duration: 1s;
	filter: brightness(50%);
	animation-iteration-count: infinite;
}
#topbar {
	position:absolute;
	top:15vw;
	display:flex;
	overflow: hidden;
	width:100vw;
}
#topbarbg {
	position:absolute;
	width:200%;
	left:-50%;
	top:-50%;
	height:200%;
	z-index:0;
	opacity:0.8;
	animation-name: writhe;
	animation-duration: 0.2s;
	animation-iteration-count:infinite;
}
@keyframes writhe {
	0%	{transform:skew(10deg,0);}
	25%	{transform:skew(-40deg,0);}
	50%	{transform:skew(30deg,0);}
	75%	{transform:skew(-10deg,0);}
	100%	{transform:skew(10deg,0);}
}
.tooltip2 {
	display:none;
	position:relative;
	border-style:solid;
	border-width: 0.2vw;
	border-color:green;
	background-color:rgba(0,255,120,0.5);
	z-index:999;
}
.tooltip2 p {
	font-size:2vw;
	margin:0.5vw;
}
.tooltip2 a {
	text-decoration:none;
	cursor:help;
	color:black;
}
.tooltip {
	display:none;
	position:absolute;
	pointer-events:none;
	border-style:solid;
	border-width: 0.2vw;
	border-color:green;
	background-color:rgba(0,255,120,0.5);
	z-index:999;
}
.tooltip > p {
	font-size:2vw;
	margin:0.5vw;
}
.retarddiv:hover > .tooltip {
	display:block;
}
.retarddiv2:hover > .tooltip {
	display:block;
}
.tooltipdiv:hover > .tooltip {
	display:block;
}
.tooltipdiv:hover > .tooltip2 {
	display:flex;
}
.retarddiv {
	width:12vw;
	height:12vw;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.retarddiv2 {
	position:relative;
	margin:0.5vw;
	width:8vw;
	height:8vw;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#ifuckedup {
	display:flex;
	width: 40vw;
	flex-wrap: wrap;
}
@keyframes dothat {
	0%	{transform:scale(1,1);}
	25%	{transform:scale(0,1);}
	50%	{transform:scale(-1,1);}
	75%	{transform:scale(0,1);}
	100%	{transform:scale(1,1);}
}
@keyframes dothat2 {
	0%	{transform:scale(1,1);filter:hue-rotate(0deg);}
	25%	{transform:scale(0,1);filter:hue-rotate(270deg);}
	50%	{transform:scale(-1,1);filter:hue-rotate(540deg);}
	75%	{transform:scale(0,1);filter:hue-rotate(810deg);}
	100%	{transform:scale(1,1);filter:hue-rotate(1080deg);}
}
#mainsec {
	position:absolute;
	top:32vw;
	display: flex;
}
#mainsec> div {
	margin:2vw;
}
.sideimg {
	width:8vw;
}
.retarddiv2:hover {
	cursor:pointer;
}
.spindiv:hover img{
	animation-name: dothat;
	animation-duration:1s;
	animation-iteration-count:infinite;
	filter: brightness(50%);
	animation-timing-function: linear(0,0.02,0.08,0.18,0.32,0.5,0.68,0.82,0.92,0.98,1);
}
.retarddiv2:hover img{
	animation-name: dothat;
	animation-duration:1s;
	animation-iteration-count:infinite;
	filter: brightness(50%);
	animation-timing-function: linear(0,0.02,0.08,0.18,0.32,0.5,0.68,0.82,0.92,0.98,1);
}
@keyframes fuck {
	0%	{transform:scale(-1,0.8);transform:rotate(180deg);}
	50%	{transform:scale(0.8,-1);}
	100%	{transform:scale(-1,0.8);transform:rotate(-180deg);}
}
#bullshit > img {
	width: 10vw;
	border-style:solid;
	border-width:0.1vw;
	border-color:orangered;
}
#bullshit {
	width: 10vw;
	display:flex;
	flex-direction:column;
	height:34vw;
	flex-wrap: wrap;
}
.fu {
	position:absolute;
	top: 2vw;
	width:12vw;
	animation-name: dothat2;
	animation-iteration-count: infinite;
	animation-timing-function: linear(0,0.02,0.08,0.18,0.32,0.5,0.68,0.82,0.92,0.98,1);
	animation-duration:1s;
}
.absposimagebullshit {
	position:absolute;
	display:flex;
	align-items: center;
	flex-direction: row-reverse;
}
.absposimagebullshit > h2 {
	color: white;
	filter: drop-shadow(12px 14px 8px #000000);
}
.kys:hover {
	cursor: pointer;
}
.kys > img {
	width:12vw;
	height:12vw;
}
.kys {
	position:relative;
	overflow: hidden;
	padding:2vw;
	margin:1vw;
	background:rgba(0,0,0,0.6);
	border-width:0.5vw;
	border-color:black;
	border-style:ridge;

}
.kys:hover > .arg {
	
	animation-name: poo;
	animation-iteration-count: infinite;
	animation-duration:9s;
}
.kys:hover > .haha {
	display:block;
}
.kys:hover + h2 {
	animation-name: chatgpt;
	animation-iteration-count: infinite;
	animation-duration:1s;
}
.kys + h2 {
	pointer-events: none;
}
@keyframes poo {
	0% {transform: matrix3d(1, 2, 3, 4, 3, 9, 4, 1, 7, 8, 1, 5, 5, 5, 5, 5);filter: saturate(100);}
	100% {transform:rotateZ(180deg);filter:hue-rotate(359deg);filter: saturate(100);}
}
.haha {position:absolute;top:2vw;left:2vw;display:none;}
@keyframes chatgpt {
	0% {transform: matrix3d(50,3, 40, 6, 0, 1, 0, 0, 5, 0, 1, 0, 0, 0, 0, 1);}
	100% {transform: scale(-1);}
}
